[Unit]
Description=IPMB bridge
After=phosphor-ipmi-host.service
After=xyz.openbmc_project.ipmbsensor.service

[Service]
ExecStart=/usr/bin/ipmbbridged
SyslogIdentifier=ipmbbridged
Restart=always
Type=simple

[Install]
WantedBy=basic.target
